body {
  font-family: "Roboto", sans-serif;
}

.main-layout {
  display: flex;
  margin-left: 3rem;
  margin-top: 2rem;
  justify-content: flex-start;
}

.vending-machine {
  background-color: #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 40rem;
  height: 60rem;
  margin: 5rem auto;
}

.product {
  border: 1px solid #ddd;
  border-radius: 3rem;
  margin: auto;
  margin-bottom: 2rem;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: auto auto auto auto auto;
  height: 10rem;
  background-color: #ebcccc;
  align-items: center;
}

.btn-select {
  background-color: #44c767;
  width: fit-content;
  border-radius: 2rem;
  border: 1px solid #18ab29;
  cursor: pointer;
  color: #ffffff;
  padding: 16px 31px;
  text-shadow: 0px 1px 0px #2f6627;
}

div.product > img {
  margin-left: 2rem;
  width: 6rem;
  height: 6rem;
}

.money-insert {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.coin {
  background-color: rebeccapurple;
  color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  cursor: pointer;
}

/* ------------------ SYSTEM DASHBOARD -------------- */

.system-dashboard {
  background-color: #c8cece;
  width: 300px;
  height: 17rem;
  padding: 2rem;
  border-radius: 10px;
}

.component {
  margin: 1rem;
  height: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}

/* ------------------ SYSTEM DASHBOARD -------------- */

/* ------------------ LOGIN -------------- */

.login-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-container button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-container button:hover {
  background-color: #2980b9;
}

.password-field {
  display: block;
  width: 92%;
  padding: 10px;
  margin-top: 8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* ------------------ LOGIN -------------- */
