.vending-machine {
  background-color: #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 40rem;
  height: 60rem;
  margin: 5rem auto;
}

.product {
  border: 1px solid #ddd;
  border-radius: 3rem;
  margin: auto;
  margin-bottom: 2rem;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: auto auto auto auto;
  height: 10rem;
  background-color: #ebcccc;
  align-items: center;
}

.btn-select {
  background-color: #44c767;
  width: fit-content;
  border-radius: 2rem;
  border: 1px solid #18ab29;
  cursor: pointer;
  color: #ffffff;
  padding: 16px 31px;
  text-shadow: 0px 1px 0px #2f6627;
}

div.product > img {
  margin-left: 2rem;
  width: 6rem;
  height: 6rem;
}

.money-insert {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.coin {
  background-color: rebeccapurple;
  color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  cursor: pointer;
}

.system-dashboard {
  background-color: gray;
  width: 20rem;
  padding: 2rem;
  border-radius: 2rem;
}
