/* ------------------ COMMON STYLES -------------- */

body {
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}

.bg-soft-gray {
  background-color: #c8cece;
}

.rounded-small {
  border-radius: 10px;
}

.rounded-medium {
  border-radius: 2rem;
}

.rounded-full {
  border-radius: 100%;
}

.grid {
  display: grid;
}

.text-white {
  color: #fff;
}

.shadow-small {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main-layout {
  margin-left: 3rem;
  margin-top: 2rem;
  justify-content: flex-start;
}

/* ------------------ COMMON STYLES -------------- */

/* ------------------ VENDING MACHINE -------------- */

.vending-machine {
  padding: 20px;
  width: 40rem;
  margin: 0 auto;
}

.session-expire {
  display: flex;
  justify-content: center;
}

.countdown {
  margin-left: 1rem;
}

.product {
  border: 1px solid #ddd;
  margin: auto;
  margin-bottom: 2rem;
  column-gap: 2rem;
  grid-template-columns: auto auto auto auto auto;
  background-color: #286da771;
  align-items: center;
}

.btn-select {
  background-color: #44c767;
  width: fit-content;
  border: 1px solid #18ab29;
  cursor: pointer;
  color: #ffffff;
  padding: 16px 31px;
  text-shadow: 0px 1px 0px #2f6627;
}

div.product > img {
  margin-left: 2rem;
  width: 6rem;
  height: 6rem;
}

.money-insert {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.coin {
  background-color: rgb(209, 223, 85);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.btn-negative {
  background-color: #e4685d;
  border: 1px solid #ffffff;
  cursor: pointer;
  padding: 6px 15px;
}

.robot-arm-spinner {
  margin: auto;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

/* ------------------ VENDING MACHINE -------------- */

/* ------------------ SYSTEM DASHBOARD -------------- */

.system-dashboard {
  width: 300px;
  height: 17rem;
  padding: 2rem;
}

.component {
  margin: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  padding: 10px;
}

/* ------------------ SYSTEM DASHBOARD -------------- */

/* ------------------ SUPPLIER DASHBOARD -------------- */

.supplier-dashboard {
  margin: auto;
  padding: 3rem;
  text-align: center;
}

.supplier-dashboard button {
  margin: 1rem;
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #3498db;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* ------------------ SUPPLIER DASHBOARD -------------- */

/* ------------------ LOGIN -------------- */

.login-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.login-container button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #3498db;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.login-container button:hover {
  background-color: #2980b9;
}

.password-field {
  display: block;
  width: 92%;
  padding: 10px;
  margin-top: 8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* ------------------ LOGIN -------------- */

/* ------------------ POPUP -------------- */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  padding: 4.5rem;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.popup-content {
  margin-top: 1rem;
  font-size: 1.3rem;
  text-overflow: ellipsis;
}

/* ------------------ POPUP -------------- */
